* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  scroll-behavior: smooth;
}

body:has(#menu:target) {
  overflow: hidden;
}

.header-conteiner {
  margin: 0 16px;
  height: 54px;
  /* background-color: blueviolet; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 14;
}

.conteiner-wrapper {
  display: flex;
  align-items: center;
  gap: 19px;
}

.icon {
  height: 20px;
  width: 24px;
  display: block;
  background-size: cover;
  background-position: center;
}

.icon--menu {
  background-image: url(../image/burger.svg);
  background-repeat: no-repeat;
}

.icon--close {
  background-image: url(../image/icon/close.svg);
  background-repeat: no-repeat;
}

.createBt {
  width: 85px;
  height: 32px;
  border: 1px solid #d13980;
  border-radius: 6px;
  background-color: #d13980;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.createBt:hover {
  border: 1px solid #882654;
  background-color: #882654;
  color: #dfdede;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #d13980;
}

.user {
  width: 32px;
  height: 32px;
}

.main {
  padding: 0 16px;
  background-color: #1e1e3e;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 20px 0;
}

.main-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin: 0;
}

.sortBy {
  width: 102px;
  height: 32px;
  border: 1px solid #d13980;
  border-radius: 6px;
  background-color: transparent;
  color: #d13980;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.sortBy:hover {
  border: 1px solid #882654;
  background-color: #882654;
  color: #fff;
}

.plus {
  color: #2e2e54;
}

.card-quiz {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.wrapper-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qiuz-info {
  display: block;
}

.quiz-img {
  width: 99px;
  height: 56px;
}

.qiuz-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #2e2e54;
}

.wraper-count-cal {
  display: flex;
  justify-content: space-between;
}

.wraper-date-star {
  display: flex;
  gap: 24px;
}

.date {
  display: flex;
  gap: 8px;
}

.date-des {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #2e2e54;
}

.wrapper-count {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.count-des {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #2e2e54;
}

.stars {
  display: flex;
  gap: 2px;
}

.stars__star {
  width: 16px;
  height: 16px;
  background-image: url(../image/icon/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: filter 0.2s;
  filter: grayscale(100%) brightness(0.7);
}

.stars__star:hover {
  filter: none;
}

.qiuz-lessons {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #2e2e54;
  margin: 8px 0 0 0;
}

.percentage {
  width: 107px;
  height: 21px;
  background-color: #d0893940;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 10px;
  color: #2e2e54;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #d08939;
  margin: 0 0 3px 0;
}

.wrapper-start {
  display: flex;
  gap: 8px;
}

.qiuz-info-about {
  display: flex;
  justify-content: space-between;
}

.start-der {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #69748c;
}

.start-date {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #2e2e54;
}

.qiuz-moder {
  display: flex;
  align-items: center;
  gap: 8px;
}

.moder {
  background-color: #2e2e54;
  width: 24px;
  height: 24px;
  border: 1px solid #69748c;
  border-radius: 50px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.moder-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #2e2e54;
}

.moder-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #69748c;
}

.bt-wrapper {
  display: flex;
  gap: 8px;
}

.share {
  width: 44px;
  height: 44px;
  border: 1px solid #d2d4d8;
  border-radius: 6px;
  background-color: transparent;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.share:hover {
  border: 1px solid #a4a5a7;
  background-color: #a4a5a7;
}

.massenge {
  width: 44px;
  height: 44px;
  border: 1px solid #d2d4d8;
  border-radius: 6px;
  background-color: transparent;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.massenge:hover {
  border: 1px solid #a4a5a7;
  background-color: #a4a5a7;
}

.start {
  width: 200px;
  height: 44px;
  border: 1px solid #d13980;
  border-radius: 6px;
  background-color: #d13980;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.start:hover {
  border: 1px solid #882654;
  background-color: #882654;
  color: #dfdede;
}

.footer {
  border-top: 1px solid #1e1e3e;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #2e2e54;
  z-index: 11;
  /* padding: 0 16px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-conteiner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.wrapper-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 0.3s;
}

.wrapper-menu:hover {
  background-color: #d42d7b1a;
}

.wrapper-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d13980;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.wrapper-menu:hover::before {
  transform: scaleX(1);
}

.munu-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.menu-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: #d2d4d8;
  margin: 4px 5.5px 0 5.5px;
}

.more-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #2e2e54;
  color: white;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-menu.open {
  transform: translateY(0);
}

.more-menu-content {
  text-align: center;
}

.aside {
  box-sizing: border-box;
  height: calc(100vh - 54px);
  width: 100%;
  background-color: #2e2e54;
  position: fixed;
  top: 54px;
  left: 100%;
  transition: left 0.3s;
  z-index: 12;
  padding: 16px 16px 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside:target {
  left: 0;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: end;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 0;
  margin: 16px 0 0 0;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  transition: background 0.3s;
}

.nav-item img {
  width: 20px;
  height: 20px;
}

.nav-item .nav-link {
  color: #d2d4d8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

.nav-item:hover,
.nav-item.active {
  background-color: #50285c;
}

.nav-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: #d13980;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s;
}

.nav-item:hover::before,
.nav-item.active::before {
  transform: scaleY(1);
}

.nav-item.active .nav-link {
  color: #fff;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #d2d4d8;
  position: relative;
  transition: background-color 0.3s;
}

/* .nav-item {
  list-style: none;
  display: flex;
  gap: 12px;
} */

.nav-line {
  display: flex;
  width: 100%;
  border: 1px solid #69748c;
  margin: 16px 0;
}

.user-moder {
  display: flex;
  text-align: center;
  gap: 16px;
}

.user-inf {
  margin: 0 0 40px 16px;
}

.moder-title-aside {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.moder-name-aside {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #d2d4d8;
  text-align: start;
}

.user-inf-img {
  width: 32px;
  height: 32px;
}

.wrapper-edit {
  margin: 20px 0 8px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.edit {
  display: flex;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.edit-raiting {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #d2d4d8;
}

.edit-point {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
}

.menu-text-more {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 8px;
  color: #d2d4d8;
  margin: 4px 16px 0 16px;
  text-decoration: none;
}
.more-menu {
  position: fixed;
  bottom: -60vh;
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: #2e2e54;
  color: white;
  padding: 16px;
  box-sizing: border-box;
  transition: bottom 0.3s ease-in-out;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #1e1e3e;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.more-menu:target {
  bottom: 66vh;
}
.close-btn {
  align-self: flex-end;
  font-size: 32px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
.more-menu-content {
  width: 100%;
  /* flex: 1;
    /* display: flex; */
  font-size: 18px;
}
